#loader {
  background-color: $navy;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 85px;
    height: 85px;
  }
}
