.side-slidebar__right {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 40px;
  z-index: 10;
  color: $slate;
  margin-top: 20px;
  .email-styledSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    a {
      writing-mode: vertical-lr;
      text-decoration: none;
      color: $slate;
      padding: 10px;
      font-size: $text-sm14;
      letter-spacing: 0.1rem;
    }
    a:hover {
      color: $MediumSlateBlue;
    }
  }
}
.side-slidebar__right::after {
  content: "";
  display: block;
  width: 1px;
  height: 280px;
  margin: 20px auto;
  background-color: $slate;
}

// media response design

@media (max-width: 768px) {
  .side-slidebar__right {
    display: none;
  }
}

@media (max-width: 1080px) {
  .side-slidebar__right {
    display: none;
  }
}
