@mixin rotate-animation__before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #b7a7ff;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#2e00ff, #917af9);
  -webkit-animation: rotate 6s linear infinite;
  animation: rotate 6s linear infinite;
}
@mixin rotate-animation__after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: $lightest-navy;
  border-radius: 5px;
}

@mixin keyframes {
  @-webkit-keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
  @keyframes rotate {
    100% {
      transform: rotate(1turn);
    }
  }
}

@mixin hover-btn {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: -3;
  transition: 0.23s;
}
